<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Web App{% endblock %}</title>    {% load static %}
    <link rel="stylesheet" href="{% static "main.css" %}">
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        <div>
            현재 로그인 계정 :  {{ user.username }}
            {% if user.calendarentry.user_image %}
            <img src="{{ entry.user_image.url }}" alt="{{ user.username }}" width="50">
            {% endif %}
            <a href="/">메인페이지</a><br>
        </div>
        {% endif %}
    </header>


    <main>
        {% block content %}
        {% endblock %}
    </main>


    <!-- 추가적인 JavaScript 파일 및 스크립트 추가 -->
</body>
</html>
