<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advent Calendar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "main.css" %}"> 

</head>



<body>
<!-- #region SampleRegion -->
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<div class="snowflake"></div>
<!-- #endregion -->

    <div class="calendar-container">
        <div class="title">
            <h1>2024 VRChat 연말 캘린더</h1>
        </div>
        <img class=image src="static/2.png" alt="image">
        <div class="calendar">
            <div class="week">월</div>
            <div class="week">화</div>
            <div class="week">수</div>
            <div class="week">목</div>
            <div class="week">금</div>
            <div class="weekend">토</div>
            <div class="weekend">일</div>

            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            {% for day_data in days %}
            <div class="day" data-day="{{ day_data.day }}">
                {% if not day_data.person_name %}
                <span class="day-number">{{ day_data.day }}</span>
                {% else %}
                <div class="content">
                    {% if day_data.person_image_url %}
                    <img src="{{ day_data.person_image_url }}" alt="{{ day_data.person_name }}">
                    {% endif %}
                    <p class="person-name">{{ day_data.person_name }}</p> <!-- 이름만 출력합니다 -->
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
        </div>
        
    </div>


    


    

    <script>
        // Using vanilla JS to show content on click
        document.querySelectorAll('.day').forEach(day => {
        });
    </script>

<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
</body>