<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
</head>
<body>
  <div>
    <strong>Menu:</strong>
  </div>
  <h1>로그인</h1>
  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
      <li>
        <a title="GitHub" class="socialaccount_provider github" href="/accounts/github/login/?process=login">GitHub</a>
        <a title="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login">Google</a>

      </li>
    </ul>
  </div>
</body>
</html>
