@import url('https://fonts.googleapis.com/css?family=Jua:400');






html, body {
  font-family: 'Jua', sans-serif;
  font-size: medium;
  background-color: #def1f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  overflow-x: hidden;
}

.menu{
  /* 오른쪽 정렬, 언더바*/
  display: flex;
  justify-content: flex-end;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  /* 세로로 배치하기 위해 flex-direction을 column으로 변경 */
  justify-content: center;
  /* 항목들을 container의 맨 위로 이동 */
  width: 100%;
  max-width: 800px;
  overflow: hidden;
}

.image {
  transition: transform 0.3s ease-in-out;
  margin-bottom: 40px;
}




.title {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3f3f51;
  background-color: #a9bec3;
  height: 50px;
  padding: 0px 0px 0px 0px;
  margin: 20px;
  font-family: 'Jua', sans-serif;

}




.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid wheat;


}



.day:hover .content {
  display: flex;
}

.content .person-name {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 5%;
  /* 바닥에 붙입니다. */
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  /* horizontal 중앙 정렬 및 vertical 반만큼 이동하여 텍스트 배경의 중앙이 이미지 바닥에 오도록 합니다. */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
}


.day:hover .content .person-name {
  opacity: 1;
}

.weekend {
  position: relative;
  background-color: #fffffff8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  font-size: 10px;
  color: #3f3f51;
  font-weight: bold;
  width: 114px;
  height: 20px;
}

.week {
  position: relative;
  background-color: #ffca58f8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  font-size: 10px;
  color: #3f3f51;
  font-weight: bold;
  width: 114px;
  height: 20px;
}

.day {
  position: relative;
  background-color: #fdebc5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  color: #3f3f51;
  font-weight: bold;
  width: 114px;
  height: 114px;
}





.day-number {
  font-size: 1.5em;
  z-index: 1;
  position: absolute;
  font-weight: lighter;
  font-size: xx-small;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}


.content p {
  color: #3f3f51;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  font-size: small;
  transform: translateX(-50%);
  opacity: 0;
  /* 기본적으로 글자는 보이지 않게 합니다. */
  transition: opacity 0.3s ease-in-out;
  /* 글자의 투명도 변경에 애니메이션 효과를 적용합니다. */
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 70%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  /* 이미지 움직임에 전환 효과를 추가합니다. */
}


.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fdebc5;
  align-items: center;
  justify-content: center;
}




.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  z-index: 1;
  overflow-y: hidden;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }

  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

.snowflake:nth-child(1) {
  --size: 0.4vw;
  --left-ini: 10vw;
  --left-end: 10vw;
  left: 78vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -3s;
  z-index: 1;
}

.snowflake:nth-child(2) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: 5vw;
  left: 62vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -3s;
  z-index: 1;
}

.snowflake:nth-child(3) {
  --size: 0.2vw;
  --left-ini: 7vw;
  --left-end: 4vw;
  left: 29vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
  z-index: 1;
}

.snowflake:nth-child(4) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 0vw;
  left: 69vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
  z-index: 1;
}

.snowflake:nth-child(5) {
  --size: 1vw;
  --left-ini: 5vw;
  --left-end: -2vw;
  left: 55vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -9s;
  z-index: 1;
}

.snowflake:nth-child(6) {
  --size: 0.2vw;
  --left-ini: -6vw;
  --left-end: 9vw;
  left: 86vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -4s;
  z-index: 1;
}

.snowflake:nth-child(7) {
  --size: 0.2vw;
  --left-ini: 4vw;
  --left-end: -8vw;
  left: 55vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -6s;
  z-index: 1;
}

.snowflake:nth-child(8) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: 6vw;
  left: 25vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -6s;
  z-index: 1;
}

.snowflake:nth-child(9) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: -8vw;
  left: 7vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
  z-index: 1;
}

.snowflake:nth-child(10) {
  --size: 0.2vw;
  --left-ini: 9vw;
  --left-end: 4vw;
  left: 86vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -2s;
  z-index: 1;
}

.snowflake:nth-child(11) {
  --size: 0.2vw;
  --left-ini: -3vw;
  --left-end: -8vw;
  left: 42vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -5s;
  z-index: 1;
}

.snowflake:nth-child(12) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: 2vw;
  left: 3vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(13) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: -3vw;
  left: 13vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(14) {
  --size: 1vw;
  --left-ini: -8vw;
  --left-end: -2vw;
  left: 6vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(15) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: -7vw;
  left: 57vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(16) {
  --size: 0.6vw;
  --left-ini: 5vw;
  --left-end: -6vw;
  left: 92vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(17) {
  --size: 0.6vw;
  --left-ini: -2vw;
  --left-end: 0vw;
  left: 1vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(18) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: 3vw;
  left: 35vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(19) {
  --size: 0.6vw;
  --left-ini: 3vw;
  --left-end: -9vw;
  left: 3vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(20) {
  --size: 1vw;
  --left-ini: 10vw;
  --left-end: -9vw;
  left: 22vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(21) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: 3vw;
  left: 87vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(22) {
  --size: 0.8vw;
  --left-ini: -2vw;
  --left-end: -3vw;
  left: 78vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(23) {
  --size: 0.8vw;
  --left-ini: -6vw;
  --left-end: 9vw;
  left: 41vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(24) {
  --size: 0.2vw;
  --left-ini: 5vw;
  --left-end: 5vw;
  left: 39vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(25) {
  --size: 1vw;
  --left-ini: -2vw;
  --left-end: 1vw;
  left: 95vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(26) {
  --size: 0.8vw;
  --left-ini: 6vw;
  --left-end: -5vw;
  left: 98vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(27) {
  --size: 0.8vw;
  --left-ini: -2vw;
  --left-end: 2vw;
  left: 91vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(28) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: 7vw;
  left: 15vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(29) {
  --size: 0.4vw;
  --left-ini: -3vw;
  --left-end: -3vw;
  left: 28vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(30) {
  --size: 0.6vw;
  --left-ini: 6vw;
  --left-end: -1vw;
  left: 97vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(31) {
  --size: 0.6vw;
  --left-ini: -2vw;
  --left-end: 6vw;
  left: 49vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(32) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: -2vw;
  left: 52vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(33) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: -2vw;
  left: 16vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(34) {
  --size: 0.4vw;
  --left-ini: -8vw;
  --left-end: 7vw;
  left: 49vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(35) {
  --size: 0.4vw;
  --left-ini: 10vw;
  --left-end: -8vw;
  left: 32vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(36) {
  --size: 0.4vw;
  --left-ini: -3vw;
  --left-end: 9vw;
  left: 98vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(37) {
  --size: 0.2vw;
  --left-ini: 4vw;
  --left-end: -8vw;
  left: 23vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(38) {
  --size: 0.4vw;
  --left-ini: -1vw;
  --left-end: -8vw;
  left: 8vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(39) {
  --size: 0.4vw;
  --left-ini: 1vw;
  --left-end: -7vw;
  left: 39vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(40) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: 5vw;
  left: 9vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(41) {
  --size: 0.8vw;
  --left-ini: -6vw;
  --left-end: -4vw;
  left: 30vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(42) {
  --size: 0.6vw;
  --left-ini: -5vw;
  --left-end: 3vw;
  left: 97vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(43) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: 10vw;
  left: 57vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(44) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: 5vw;
  left: 76vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(45) {
  --size: 0.8vw;
  --left-ini: 7vw;
  --left-end: -9vw;
  left: 67vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(46) {
  --size: 0.4vw;
  --left-ini: -3vw;
  --left-end: -5vw;
  left: 90vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(47) {
  --size: 0.8vw;
  --left-ini: 2vw;
  --left-end: 5vw;
  left: 29vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(48) {
  --size: 0.4vw;
  --left-ini: 4vw;
  --left-end: -8vw;
  left: 18vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(49) {
  --size: 0.2vw;
  --left-ini: 10vw;
  --left-end: -7vw;
  left: 74vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(50) {
  --size: 0.8vw;
  --left-ini: 7vw;
  --left-end: 4vw;
  left: 100vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}